/* Inspired by https://www.uplabs.com/posts/dark-mode-login-and-signup-app-ui-design */
/* Login-Signup Frontend using ReactJS, Tailwind and Ionicons  */

/* Follow for more. */
/* Github: https://github.com/rajyavardhanbithale */
/* LinkedIn: https://www.linkedin.com/in/rajyavardhan-bithale-999482258/ */
/* Instagram: https://www.instagram.com/rajyavardhan.8/ */

body{
  
  font-family: 'Montserrat',sans-serif;

  background-color: #1f102c;
  overflow: hidden;
}

.band__font{
  /* font-family: 'Macondo',cursive; */
  font-family: 'Major Mono Display',monospace;
  
}



